@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply relative text-white bg-slate-900;
  }

  button {
    @apply transition-all duration-100 hover:scale-110;
  }

  input {
    @apply px-4 py-2 bg-slate-600 rounded-xl;
  }
}

@layer utilities {
  .btn {
    @apply self-start px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-primary {
    @apply border bg-slate-700 border-slate-700 text-lime-400;
  }

  .btn-primary-outline {
    @apply border border-lime-400 text-lime-400;
  }

  .btn-danger {
    @apply text-white bg-red-600 border border-red-600;
  }

  .input-group {
    @apply flex flex-col gap-4;
  }
}
